{% extends 'base_page.html' %}
{% load static %}

{% block content %}


  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <img src="{% static 'assets/img/members.jpg' %}" class="img-fluid"  loading="lazy" >
    </div><!-- End Breadcrumbs -->

        <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers services">
      <div class="container" data-aos="fade-up">
          {% include 'include/heading.html' %}


        <div class="section-message">
          <h2>CAMPERS</h2>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

        {% for item in profile %}
          <div class="col-lg-3 col-md-4 d-flex align-items-stretch text-center">
            <div class="member text-center">
              <img src="{{item.user.image.url}}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>{{item.user.name}}</h4>
                <span>{{item.user.college_name}}</span>
                  {% if item.team %}
                <span>Team {{item.team}}</span>
                  {% else %}
                      <span>Team {{item.team}}</span>
                  {% endif %}
              </div>
            </div>
          </div>        
        {% endfor %}

        </div>
      {% include 'include/buttons.html' %}

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
{% endblock content %}
