{% extends 'base_page.html' %}
{% load static %}

{% block content %}


  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <img src="{% static 'assets/img/members.jpg' %}" class="img-fluid"  loading="lazy" >
    </div><!-- End Breadcrumbs -->

        <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers services">
      <div class="container" data-aos="fade-up">

        <div class="section-message">
          <h2>Members</h2>
          <p>KSHAMATA Registered users</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-users-social"></i>
              <h4><a href="{% url 'members' %}" class="stretched-link">Members</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
             <div class="icon-box">
             <i class="icofont-ui-user-group"></i>
              <h4><a href="{% url 'team-website' %}" class="stretched-link">Teams</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-flag-alt-1"></i>
              <h4><a href="{% url 'leaderboard' %}" class="stretched-link">Leaderboard</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-certificate-alt-1"></i>
              <h4><a href="{% url 'award-list' %}" class="stretched-link">Awards</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-list"></i>
              <h4><a href="{% url 'submit' %}" class="stretched-link">Submit</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-clock-time"></i>
              <h4><a href="{% url 'schedule' %}" class="stretched-link">Schedule</a></h4>
            </div>
          </div>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

        {% for item in profile %}
          <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
            <div class="member">
              <img src="{{item.user.image.url}}" class="img-fluid" alt="">
              <div class="member-content">
                <h4><strong>Name: </strong>{{item.user.name}}</h4>
                <span><strong>College: </strong>{{item.user.college_name}}</span>
                <span><strong>Team: </strong>{{item.team}}</span>
              </div>
            </div>
          </div>        
        {% endfor %}

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
{% endblock content %}