{% load static %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="/" class="logo mr-4"><img src="{% static 'assets/img/logo.svg' %} " alt="" class="img-fluid"></a>
            <p class="pt-3">
              Lobo Prabhu Nagar - Konkani Gaon <br>
              Mangalore, Karnataka 575016<br>
              India <br><br>
              {% comment %} <strong>Phone:</strong> +1 5589 55488 55<br> {% endcomment %}
              <strong>Email:</strong> kshamatawkc@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Website</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://vishwakonkani.org/" target="_blank">WKC</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vkssfalumni.com/" target="_blank">VKSSF Alumni</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://sushiksha.konkanischolarship.com/" target="_blank">Sushiksha</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://scopea.konkanischolarship.com/" target="_blank">SCOPEA</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>An Initiative by</h4>
            <img src="{% static 'assets/img/wkc_logo.png' %}" alt="WKC LOGO" width="80%">
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>KSHAMATA</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://sushiksha.konkanischolarship.com/">Sushiksha</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  {% include 'include/scripts.html' %}