{% extends 'base_page.html' %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero2" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    </div>
  </section><!-- End Hero -->

    <main id="main">

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">
        <div class="section-message">
          <h2>LEADERSHIP EXPERIENCES</h2>
          <p>KSHAMATA has designed these Leadership Experiences through Camps conducted periodically at World Konkani Centre, Mangaluru. The immersive experiences one go through these camps are immensely beneficial for personal growth and career perspective.</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="10">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal2.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <h2>SOTP</h2>
                <h3>SCHOLARS ORIENTATION AND TRAINING PROGRAMME</h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
                <div class="course-item">
                <img src="{% static 'assets/img/camp/Gal6.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                    <h2>SLSIP</h2>
                    <h3>SCHOLARS LANGUAGE SKILLS IMMERSIVE PROGRAMME</h3>
                    <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                    <a href="courses.html" class="register">register</a>
                </div>
                </div>
            </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal7.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <h2>GMCS</h2>
                <h3>GENERAL MANAGEMENT AND COMMUNICATION SKILLS</h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal8.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <h2>IPRS</h2>
                <h3>INTERPERSONAL RELATIONSHIP SKILLS TRAINING</h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal3.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <h2>SPPT</h2>
                <h3>SCHOLARS PLACEMENT PREPARATION TRAINING</h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal5.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <h2>SORT</h2>
                <h3>SCHOLARS ORGANISATIONAL READYNESS TRAINING</h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal10.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <h2>KSHITIJ</h2>
                <h3>SKILL DEVELOPMENT CAMPS</h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal9.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <img src="{% static 'assets/img/camp/ugetin.svg' %}" class="img-fluid pb-2" width="80%">
                {% comment %} <h3>SKILL DEVELOPMENT CAMPS</h3> {% endcomment %}
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-0">
            <div class="course-item">
              <img src="{% static 'assets/img/camp/Gal11.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <img src="{% static 'assets/img/camp/ugetin.svg' %}" class="img-fluid pb-2" width="80%">
                <h3>Diamond</h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <a href="courses.html" class="register">register</a>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>


      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->
{% endblock content %}