{% extends 'base_page.html' %}
{% load static %}

{% block content %}

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <img src="{% static 'assets/img/registration.jpg' %}" class="img-fluid"  loading="lazy" >
    </div><!-- End Breadcrumbs -->

    <section id="services" class="services about">
      <div class="container">
        {% include 'include/heading.html' %}

  
        <img src="{% static 'assets/img/gif.gif' %}" class="img-fluid"  loading="lazy" >
   

      {% include 'include/buttons.html' %}

      </div>
    </section>


  </main><!-- End #main -->
{% endblock content %}