{% extends 'base_page.html' %}
{% load static %}

{% block content %}

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <img src="{% static 'assets/img/submit.jpg' %}" class="img-fluid"  loading="lazy" >
    </div><!-- End Breadcrumbs -->

    <section id="services" class="services">
      <div class="container">

        <div class="section-message">
          <h2>Forms Available</h2>
          <p>Check these websites</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-users-social"></i>
              <h4><a href="{% url 'members' %}" class="stretched-link">Members</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
             <div class="icon-box">
             <i class="icofont-ui-user-group"></i>
              <h4><a href="{% url 'team-website' %}" class="stretched-link">Teams</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-flag-alt-1"></i>
              <h4><a href="{% url 'leaderboard' %}" class="stretched-link">Leaderboard</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-certificate-alt-1"></i>
              <h4><a href="{% url 'award-list' %}" class="stretched-link">Awards</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-list"></i>
              <h4><a href="{% url 'submit' %}" class="stretched-link">Submit</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-clock-time"></i>
              <h4><a href="{% url 'schedule' %}" class="stretched-link">Schedule</a></h4>
            </div>
          </div>
        </div>



        <div class="row">
        {% for form in forms %}
        <div class="col-lg-6 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-list"></i>
              <h4><a href="{{form.url}}" target="_blank" class="stretched-link">{{form.name}}</a></h4>
              <p><strong>Deadline: </strong>{{form.deadline}}</p>
              <p>{{form.description}}</p>
            </div>
          </div>
        {% endfor %}
          

        </div>
      </div>
    </section>


  </main><!-- End #main -->
{% endblock content %}