{% extends 'base_page.html' %}
{% load static %}

{% block content %}


  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <img src="{% static 'assets/img/registration.jpg' %}" class="img-fluid"  loading="lazy" >
    </div><!-- End Breadcrumbs -->

        <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="section-message">
          <h2>Login</h2>
          {% comment %} <p>KSHAMATA Registered users</p> {% endcomment %}
        </div>


  <div class="col-lg-8 offset-lg-2 col-12">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control shadow-none" name="username" placeholder="Enter Email" required=""/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control shadow-none" name="password" placeholder="Password" required=""/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block btn-danger">
          Submit
        </button>
      </div>
    </form>


      <p class="section-message">Forgot your password? <a href="{% url 'password_reset' %}">I can help</a></p>

  </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
{% endblock content %}